<div class="row">
  <div class="col-sm-6 col-md-6 no-padding-left">
    <div class="thumbnail">

      <div class="list-group-item active">
        Вce вопросы:
      </div>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for question in paged_object %}
          <div class="panel panel-default no-padding">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" class="toggle-button" id="{{ question.id }}" data-toggle="collapse" href="#question_{{ question.id }}">
                  <div class="panel panel-default no-padding">
                    <div class="panel-heading">
                        <h6 class="panel-title"><span class="label label-success">{{ question.date|date:"d M" }}</span> {{ question.title }}</h6>
                    </div>
                    <div class="panel-body">
                      {% with question.response_set.all|dictsort:"date"|last as last_answer %}
                      {% if last_answer %}
                        <span class="label label-success">{{ last_answer.date|date:"Y" }}</span> {{ last_answer.text }}
                      {% else %}
                        Пока ответов нет :(
                      {% endif %}
                      {% endwith %}
                    </div>
                  </div>
                </a>
              </h4>
            </div>
          </div>
        {% endfor %}

      </div>
       {% include 'book/includes/listpagination.html' %}
    </div>
  </div>


{% for question in paged_object %}
  <div id = "question_{{ question.id }}" class="col-sm-6 col-md-6">
    {% include 'book/includes/responselist.html' %}
  </div>
{% endfor %}
</div>


  