<div class="row">
  <div class="col-sm-6 col-md-6 no-padding-left">
    <div class="thumbnail">

      <div class="list-group-item active">
        Вce вопросы:
      </div>

      <div class="panel-group">
        {% for question in paged_object %}
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion2" aria-expanded="false" aria-controls="#question_{{ question.id }}" href="#question_{{ question.id }}" class="list-group-item no-padding">
              <div class="panel panel-default no-padding" id ="panel_{{ question.id}}">
                <div class="panel-heading">
                    <h6 class="panel-title"><span class="label label-success">{{ question.date|date:"d M" }}</span> {{ question.title }}</h6>
                </div>
                <div class="panel-body">
                  {% with question.response_set.all|dictsort:"date"|last as last_answer %}
                  {% if last_answer.author == user %}
                    <span class="label label-success">{{ last_answer.date|date:"Y" }}</span> {{ last_answer.text }}
                  {% else %}
                    Пока ответов нет :(
                  {% endif %}
                  {% endwith %}
                </div>
              </div>
            </a>
          </h4>
        {% endfor %}

      </div>
       {% include 'book/includes/listpagination.html' %}
    </div>
  </div>

  <div class ="accordion-group col-sm-6 col-md-6" id ="accordion2">

    {% for question, bool in responses_exist.items %}
      {% if bool %}
        {% for question in paged_object %}

            <div id = "question_{{ question.id }}"  class="collapse">
              {% include 'overview/includes/responselist.html' %}
            </div>

        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<script>
  var $accordion = $('#accordion2');
    $accordion.on('show.bs.collapse','.collapse', function() {
      $accordion.find('.collapse.in').collapse('hide');
      var question_id = $(this).attr("id");
      var id = question_id.split("_")[1];
      $(".panel").removeClass("panel-success");
      $("#panel_"+id).addClass ("panel-success");
    });


</script>

  