{% block content %}
<nav aria-label="Page navigation" class = "center">
    <ul class="pagination">
      <li>
        {% if paged_object.has_previous %}
          <a href="?page={{ paged_object.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          </a>
        {% endif %}
      </li>
      <li>        
      <span class="current"> Page {{ paged_object.number }} of {{ paged_object.paginator.num_pages }}</span>
      </li>
      <li>
        {% if paged_object.has_next %}
            <a href="?page={{ paged_object.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
        {% endif %}
      </li>
    </ul>
</nav>
{% endblock %}