<div class="thumbnail">
  {% load staticfiles %}
  <img src="{% static '/img/question.jpg' %}" class="responsive-img" alt="img">

  <div class="caption">


    {% if question.type == 'quick' %}
      {% include 'book/includes/quickresponseform.html' %}
    {% else %}

      {% if current_week and not_answered %}

        {% include 'book/includes/responseform.html' %}

      {% elif not_answered %}
        <div class="panel panel-default">
          <div class="panel-body">
              <h4>{{ question.title }}</h4>
          </div>
          <div class="panel-footer">Вопрос закрыт за истечением времени ответа.</div>
        </div>

      {% else %}
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>{{ question.title }}</h4>
          </div>
          <div class="panel-footer">Вы уже ответили на этот вопрос</div>
        </div>
      {% endif %}

    {% endif %}

  </div>
</div>