<form action="{% url 'vote' question.id %}" method="post">
  {% csrf_token %}

    <div class="form-group">
      {% include 'book/includes/messagecatcher.html' %}
      <label>{{ question.title }}</label>

        <br />

        <input type="radio" name="choice" id="choice_1" value="1" />
        <label for="choice_1">{{ question.variant1 }}</label><br />

        <input type="radio" name="choice" id="choice_2" value="2" />
        <label for="choice_2">{{ question.variant2 }}</label><br />

        <input type="radio" name="choice" id="choice_3" value="3" />
        <label for="choice_3">{{ question.variant3 }}</label><br />

    </div>

    <button type="submit" class="btn btn-default">Ok</button>
</form>