<form action="{% url 'vote' qquestion.id %}" method="post">
  {% csrf_token %}

    <div class="form-group">
      {% include 'book/includes/messagecatcher.html' %}
      <label>{{ question.title }}</label>
        {% for choice in question.qresponse_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br />
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-default">Ok</button>
</form>