<form action="{% url 'response' question.id %}" method="post">
  {% csrf_token %}
    <div class="form-group">
      {% include 'book/includes/messagecatcher.html' %}
      <label for="inputResponse">{{ question.title }}</label>
      <textarea class="form-control" rows="3" id="inputResponse" name="response" placeholder="Ответьте на вопрос..."></textarea>
    </div>

    <div class="form-group">
      <label for="inputResponse">Комментарий:</label>
      <textarea class="form-control" rows="5" id="inputResponse" name="comment" placeholder="Почему так ответили?"></textarea>
    </div>

    <button type="submit" class="btn btn-default">Ok</button>
</form>