{% extends "info/header.html"%}

{% block content %}
  <div class= "row flex-items-xs-middle">
  {% for question in paged_object %}

    <div class="col-sm-6 col-md-4">
      {% if question.id in not_answered_question_ids %}
        <div class="thumbnail thumbnail-new">
      {% else %}
        <div class="thumbnail">
      {% endif %}
        <a href="/book/{{question.id}}/?page=1" class="thumbnail">
        {% load staticfiles %}
        <img src="{% static '/img/question.jpg' %}" class="responsive-img" alt="img">
        </a>
        <div class="caption">
          <div class = "row">
            <div class="row-eq-height">
              <div class="col-sm-5 col-md-5">
                <div id = "date-header">
                  <h4 class = "low-margin">
                  {{ question.date|date:'F' }}
                  </h4>
                </div>
                <div id = "date-body">
                  <h2 class = "text-danger low-margin no-top-margin" align = "center">{{ question.date.day }}</h2>
                </div>
              </div>

              <div class="col-sm-7 col-md-7">
                <h5 class = "low-margin">{{ question.title }}</h5>
              </div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

    {% include 'book/includes/listpagination.html' with paged_object=paged_object%}
{% endblock %}